.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: linear-gradient(to bottom, #0f1c2e, #0b1624);
  color: #cbd5e1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  padding: 20px 15px;
}

.logo {
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.item:hover {
  background-color: #1e293b;
}

.active {
  background-color: #1e293b;
  color: white;
}

.icon {
  font-size: 18px;
}

.bottom {
  padding: 15px;
  border-top: 1px solid #1e293b;
}

.bottomItem {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.bottomItem:hover {
  background-color: #1e293b;
}
